:root {
  --darkblue: #09247C;
  --blue: #3460F1;
  --yellow: #F3DE42;
  --extralightgray: #F8F8FA;
  --lightgray: #B1B4BC;
  --gray: #595A5F;
  --black: #121315;
  --tipography: 'Rubik', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--tipography);
  background-color: var(--extralightgray);

}

.headnav {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.05));
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.switch-container > *{
 
  margin: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightgray);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


table {
  /*border:1px solid black;*/
  background-color: white;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
  border-collapse: collapse;
}

th{
  font-family: var(--tipography);
  font-weight: normal;
  height: 45px;
  color: var(--gray);
}

tr{
  border-bottom: 1px solid var(--lightgray);
}


td{
  text-align: center;
  font-family: var(--tipography);
  font-weight: normal;
  height: 75PX;
  color: var(--black);
  
}

.teamNameHead{
  width: 350px;
}


.equipoData{
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 70px;
  justify-content: left;
  width: 350px;
}

.teamName{
  padding-left: 25px;
}


/*font-family: var(--tipography);*/